@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Knewave&display=swap");
$backgroundColor: #caf0f8;
$textColor: #457b9d;
$logoFont: "Knewave", cursive;
$mainFont: "Baloo 2", cursive;
$containerColor: #ccdbdc;
$hoverColor: #5ea6d6;
$medium: 450px;
$large: 768px;
$extraLarge: 1200px;
$brightTextColor: #457b9de8;
